body,
html,
*{
    font-size: 30px;
    box-sizing: border-box;
    font-family: 'Times New Roman';
    background-color: rgb(152, 154, 170);
}
.card{
    width: 30rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;  
}
.card-desc{
    border: 10px solid green;
    box-shadow: 10px 8px rgb(16, 73, 8);
}
button{
    background-color: rgb(25, 133, 210);
    box-shadow: 10px 8px rgb(24, 81, 90);
}
